{
	"printWidth": 100,
  "proseWrap": "never",
	"singleQuote": true,
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"jsxBracketSameLine": true,
	"arrowParens": "avoid"
}
